<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>nameStr</key>
		<string>王</string>
		<key>imageName</key>
		<string>long</string>
	</dict>
	<key>2</key>
	<dict>
		<key>nameStr</key>
		<string>双</string>
		<key>imageName</key>
		<string>long</string>
	</dict>
	<key>3</key>
	<dict>
		<key>nameStr</key>
		<string>龙</string>
		<key>imageName</key>
		<string>long</string>
	</dict>
	<key>4</key>
	<dict>
		<key>nameStr</key>
		<string>老王</string>
		<key>imageName</key>
		<string>long</string>
	</dict>
	<key>5</key>
	<dict>
		<key>nameStr</key>
		<string>丹凤</string>
		<key>imageName</key>
		<string>long</string>
	</dict>
	<key>6</key>
	<dict>
		<key>nameStr</key>
		<string>doubleDragon</string>
		<key>imageName</key>
		<string>long</string>
	</dict>
	<key>7</key>
	<dict>
		<key>nameStr</key>
		<string>胡歌</string>
		<key>imageName</key>
		<string>hg</string>
	</dict>
	<key>8</key>
	<dict>
		<key>nameStr</key>
		<string>霍建华</string>
		<key>imageName</key>
		<string>hjh</string>
	</dict>
	<key>9</key>
	<dict>
		<key>nameStr</key>
		<string>成龙</string>
		<key>imageName</key>
		<string>cl</string>
	</dict>
	<key>10</key>
	<dict>
		<key>nameStr</key>
		<string>科比</string>
		<key>imageName</key>
		<string>kobe</string>
	</dict>
	<key>11</key>
	<dict>
		<key>nameStr</key>
		<string>Kobe</string>
		<key>imageName</key>
		<string>kobe</string>
	</dict>
	<key>12</key>
	<dict>
		<key>nameStr</key>
		<string>朴信惠</string>
		<key>imageName</key>
		<string>pxh</string>
	</dict>
	<key>13</key>
	<dict>
		<key>nameStr</key>
		<string>赵丽颖</string>
		<key>imageName</key>
		<string>zly</string>
	</dict>
	<key>14</key>
	<dict>
		<key>nameStr</key>
		<string>杨幂</string>
		<key>imageName</key>
		<string>ym</string>
	</dict>
	<key>15</key>
	<dict>
		<key>nameStr</key>
		<string>迪丽热巴</string>
		<key>imageName</key>
		<string>dlrb</string>
	</dict>
	<key>16</key>
	<dict>
		<key>nameStr</key>
		<string>鸣人</string>
		<key>imageName</key>
		<string>mr</string>
	</dict>
	<key>17</key>
	<dict>
		<key>nameStr</key>
		<string>雏田</string>
		<key>imageName</key>
		<string>ct</string>
	</dict>
	<key>18</key>
	<dict>
		<key>nameStr</key>
		<string>卡卡西</string>
		<key>imageName</key>
		<string>kkx</string>
	</dict>
	<key>19</key>
	<dict>
		<key>nameStr</key>
		<string>我爱罗</string>
		<key>imageName</key>
		<string>wal</string>
	</dict>
	<key>20</key>
	<dict>
		<key>nameStr</key>
		<string>柯南</string>
		<key>imageName</key>
		<string>kn</string>
	</dict>
	<key>21</key>
	<dict>
		<key>nameStr</key>
		<string>小兰</string>
		<key>imageName</key>
		<string>xl</string>
	</dict>
	<key>22</key>
	<dict>
		<key>nameStr</key>
		<string>佐助</string>
		<key>imageName</key>
		<string>zz</string>
	</dict>
	<key>23</key>
	<dict>
		<key>nameStr</key>
		<string>悟空</string>
		<key>imageName</key>
		<string>wk</string>
	</dict>
	<key>24</key>
	<dict>
		<key>nameStr</key>
		<string>123</string>
		<key>imageName</key>
		<string>long</string>
	</dict>
	<key>25</key>
	<dict>
		<key>nameStr</key>
		<string>🐲</string>
		<key>imageName</key>
		<string>long</string>
	</dict>
	<key>26</key>
	<dict>
		<key>nameStr</key>
		<string>薛之谦</string>
		<key>imageName</key>
		<string>xzq</string>
	</dict>
</dict>
</plist>
